form {
    max-width: 100%;
    width: 300px;
    margin: 0 auto;

    .example-full-width {
        width: 100%;
    }
}

h2 {
    text-align: center;
}

.form-row {
    margin: 0 0 0 -40px;
}

.main_div {
    text-align: center;
}