.page_error {
    padding: 20px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: calc(100vh - 254px);
    gap: 20px;


    p.image404 {
        display: flex;
        align-items: center;
        color: rgb(126, 126, 126);
        line-height: 1.5;
        font-size: 100px;
        font-weight: 900;
        margin: 0px;

        svg {
            width: 1em;
            height: 1em;
            display: inline-block;
            fill: currentcolor;
            flex-shrink: 0;
            transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
            font-size: inherit;
            color: rgb(18, 88, 147);
        }
    }

    .btn_home {
        color: #fff;
        background-color: rgb(18, 88, 147);
    }
}