.example-spacer {
    flex: 1 1 auto;
}

.mat-toolbar {
    background-color: rgb(152 185 217 / 99%) !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}