<html>

<head>
    <title>Join Tricount</title>
    <style>
        body {
            background-color: #d2d89c;
            font-family: 'Arial', sans-serif;
            margin: 0;
            padding: 0;
        }

        .container {
            max-width: 600px;
            margin: 20px auto;
            background-color: #fff;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        h4 {
            color: #333;
        }

        p {
            color: #555;
        }

        .footer {
            margin-top: 20px;
            text-align: left;
            /* Adjusted alignment to left */
            color: #777;
        }
    </style>
</head>

<body>

    <h3>Hello <%= name %>
    </h3>
    <div class="">
        <h4>The tricount <%= group %> is now accessible at the following address:<%= url %>
        </h4>

        <!-- Additional content or styling can be added here -->

    </div>

    <div class="footer">
        <p>Thank you for using our service.</p>
    </div>

</body>

</html>