<html>

<head>
    <title>Verification Mail</title>
    <style>
        body {
            background-color: #d2d89c;
        }
    </style>
</head>

<body>

    <h4>This is the mail to provide join group :
    </h4>
    <p>Email : <%= email %>
            <br>
            Url : <%= url %>
                <br>
    </p>

    </h4>

</body>

</html>