.example-spacer {
    flex: 1 1 auto;
}

.main_container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;

    .list-card {
        height: 100%;
        max-width: 100%;
        width: 50%;

        .mainlist_div {
            padding: 10px 5px;
        }
    }
}

.mainlist_card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


///footer

.footer_mainContainer {
    background: #070101;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.07);
    height: 40px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 10px;
    display: flex;
}

.footer.left_sideConatiner {
    min-width: 100%;
    display: flex;
    color: #b1aeae;
    justify-content: space-between;
}

///////template css/////////////////
form {
    max-width: 100%;
    width: 600px;
    margin: 0 auto;

    .example-full-width {
        width: 100%;
    }
}

.form-row {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin: 0 auto;
    gap: 20px;
}