<h2 mat-dialog-title>Join a Paygroup<button mat-icon-button class="close-button" [mat-dialog-close]="true">
        <mat-icon class="close-icon">close</mat-icon>
    </button></h2>

<mat-dialog-content class="mat-typography">

    <p>Ask your friends for link of paygroup you want to join , copy-paste the link in the box</p>
    <div class="form-row">
        <mat-form-field class="example-full-width">

            <input matInput placeholder="Paste link here">
        </mat-form-field>

        <button mat-raised-button class="button secondary">Ok</button>
    </div>

</mat-dialog-content>